header{
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;

line-height: 1.3;
letter-spacing: 0.25em;
font-size: 18px;


.header-top{
  display: flex;
  flex-direction: column;
  background-color: #15b3fc;;
  text-align: center;
  height: 11rem;
  clip-path: polygon(100% 0, 100% 80%, 55% 80%, 50% 100%, 45% 80%, 0 80%, 0 0);
  p{
    margin: 0;
    }
}

}