.sheet-box{
  width: 30%;
  min-width: 270px;
  display: flex;
  margin: 10px;

  flex-direction: column;
  align-items: center; 

  background-color: #15b3fc;

h3{
  line-height: 1.3;
letter-spacing: 0.25em;
}
  ul{
 padding-left: 0;
 width: 80%;
  }
}

.add-task-part{
  margin: 10px;

input{
  border: none;
}

}