li {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  input{
border: none;
background: none;
  }

    p {
        margin-right: 1rem;
    }
    .task-btn-container {
        min-width: 80px;

       button:hover {
           background: linear-gradient(to bottom, #02d3ef 5%, #737cfa 100%);
           background-color: #6ccbf7;
       }
       button:active {
           position: relative;
           top: 1px;
       }
    }
        
}
