body {
  font-family: Lato;
  background-color: rgb(185, 216, 241)
}

.page-content{
  display:flex;
  flex-direction: column;

}
.all-sheets{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pageTitle{
text-align: center;
}